<html>
<head>
<style type="text/css">
    table {
        border-collapse: collapse;
        border: 2px solid #000;
    }
    tr,
    td {
        padding: 0;
        margin: 0;
        width: 60px;
        height: 60px;
    }
    td button.clear,
    td input {
        font-size: 200%;
        padding: 5px;
        width: 60px;
        height: 60px;
        border: 0;
        background: #fff;

        box-sizing: border-box;
        text-align: center;
    }
    button.clear {
        color: #999;
    }
    button.clear.manual {
        color: #000;
        font-weight: bold;
        cursor: pointer;
    }

    td {
        border: 1px solid #ccc;
    }
    td.column-3,
    td.column-6 {
        border-left: 2px solid #000;
    }
    tr.row-3 td,
    tr.row-6 td {
        border-top: 2px solid #000;
    }

    .choice-not-possible {
        visibility: hidden;
    }
    .choice {
        border: 0;
        padding: 0;
        margin: 0;
        background: #fff;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .choice:hover {
        background: #eee;
    }
</style>
</head>
<body>
<form method="POST">
<table>
{% for row in rows %}
<tr class="row-{{ row.pk }}">
{% for cell in row.cells %}
<td class="column-{{ cell.column }}">
{% if cell.value %}
    {% if cell.manual %}
    <input type="hidden" name="cell-{{ cell.pk }}" value="{{ cell.value }}">
    {% endif %}
    <button type="submit" class="clear{% if cell.manual %} manual{% endif %}" name="intent-{{ cell.pk }}" value="clear">{{ cell.value }}</button>
{% else %}
    {% for choice in cell.choices %}<button type="submit" title="{{ choice.number }}" name="cell-{{ cell.pk }}" value="{{ choice.number }}" class="choice choice-{{ choice.number }} {% if not choice.possible %}choice-not-possible{% endif %}">{{ choice.number }}</button>{% endfor %}
{% endif %}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<button type="submit">Submit</button> {% if not board.is_valid %}INVALID!{% endif %}
</form>
</body>
</html>